
<div class = "container">
<div class = "rescls">
<a data-ng-click = "resCtrl.getAllReservations()" type = "submit" class="btn large-btn btn-primary">View all Reservations</a>
</div>
<hr>
<table class = "table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Time</th>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Party Size</th>
			<th>Purpose</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat = "reservation in resCtrl.reservationList">
			<td>{{reservation.id}}</td>
			<td>{{reservation.date}}</td>
			<td>{{reservation.time}}</td>
			<td>{{reservation.name}}</td>
			<td>{{reservation.phone}}</td>
			<td>{{reservation.email}}</td>
			<td>{{reservation.partySize}}</td>
			<td>{{reservation.purpose}}</td>
		</tr>
	</tbody>
</table>
</div>