
<div class = "container">
<table class = "table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Time</th>
			<th>Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Party Size</th>
			<th>Purpose</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{reservation.id}}</td>
			<td>{{reservation.date}}</td>
			<td>{{reservation.time}}</td>
			<td>{{reservation.name}}</td>
			<td>{{reservation.phone}}</td>
			<td>{{reservation.email}}</td>
			<td>{{reservation.partySize}}</td>
			<td>{{reservation.purpose}}</td>
			<td><i class="fa fa-trash-o"></i></td>
			
		</tr>
	</tbody>
</table>
</div>