<div class = "container">

<header>
    <div>
        <h1>
             The Indian Deli...
         </h1>
                    </div>
</header>
                    <!--end page header-->


                    <div class="carousel slide" id="myCarousel">


                        <!--wrapper for slides-->
                        <div class="carousel-inner">
                            <div class="item active" id="slide1">
                                <div class="carousel-caption">
                                    <h4>Various Delicacies..!</h4>
                                    <p>Get the taste of some authentic Indian food</p>
                                </div>
                                <!--end carousel caption-->
                            </div>
                            <!--end carousel item-->

                        </div>
                        <!--end carousel-inner-->

                    </div>
  
                    <!--end myCarousel-->
  </div>